@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #000b10;
  --font-roboto: Poppins, sans-serif;
  --font-principal: var(--font-roboto);
  --color-background: var(--background);
  --color-one: var(--color-cyan-400);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-roboto);
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoname {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.2rem;
  color: #F2F2F2;
  transition: transform 0.2s, color 0.2s;
}

.logoname:hover {
  transform: scale(1.25);
  color: var(--color-one); /* azul claro, ajuste como quiser */
}

.linkpages a {
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.linkpages a:hover {
  transform: scale(1.25);
  color: var(--color-one)
}
.links ul {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-one);
  border-bottom: 2px solid var(--color-one);
  padding: 1rem 0px;
  margin-bottom: 2rem;
  gap: 1rem;
}
.links ul li {
  list-style: none;
  padding: 0.3rem 0;
}
.links a {
  display: flex;
  flex-direction: row;
  font-family: var(--font-roboto);
  font-size: 1.2rem;
}
.links a:hover {
  color: var(--color-one); /* azul claro, ajuste como quiser */
  text-decoration: none;
}

@media (min-width: 468px) {
  .links ul a {
    padding: 0px 1.5rem;
    font-size: 1.1rem;
  }
}

.sobre p {
  text-align: start;
  margin-bottom: 1.5rem;
  max-width: 38rem;
}

.animated-border > li {
  position: relative;
  overflow: hidden;
}

.animated-border > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--color-one); /* cor da borda */
  transition: width 0.3s ease;
}

.animated-border > li:hover::after {
  width: 100%;
}

@keyframes spin-border {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-border {
  animation: spin-border 1.5s linear infinite;
}